{% extends "includes/header.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="row border-bottom bd-lightGray m-3">
    <div class="cell-md-5 d-flex flex-align-center">
        <h3 class="dashboard-section-title  text-center text-left-md w-100">Configuración <small>Versión 0.1</small></h3>
    </div>

</div>

<div class="container-fluid" style="width: 70%;">

             <div class="bg-lightGray p-4 m-2">
                 <h4>Ajustes generales</h4>
                 <form method = "POST">


                     <div class="form-group">
                         <label>Limitar paquetes por segundo:</label>
                         <input type="text" name="ppslimit" value="{{config[0]}}" data-role="spinner" data-min-value="0">
                     </div>
                     <div class="form-group">
                         <label>Limitar MBits/s (separar con . EJ: 1.75):</label>
                         <input type="text" name="mbitslimit" value="{{config[1]}}"  data-role="spinner" data-min-value="0" >
                     </div>

                     <div class="form-group">
                         <label>Bloquar una dirección si incumple durante (segundos):</label><br>
                         <input type="text" data-role="spinner" name="timecheck" value="{{config[2]}}"   data-min-value="0" >
                     </div>

                     <div class="form-group">
                         <label>La dirección se bloqueará durante (segundos):</label><br>
                         <input type="text" name="blocktime"  data-role="spinner" value="{{config[3]}}"  data-min-value="0">
                     </div>

                     <div class="form-group">
                         <label>Eliminar registro cada (segundos):</label><br>
                         <input type="text"  name="deleteRegister" value="{{config[4]}}"  data-role="spinner" data-min-value="0" >
                     </div>


                     <p>(0 = ilimitado o desactivado)</p>

                     <div class="form-group">
        <button class="button success">Guardar</button>
    </div>
                 </form>
             </div>



         </div>



{% endblock %}
