{% extends "includes/header.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="row border-bottom bd-lightGray m-3">
    <div class="cell-md-5 d-flex flex-align-center">
        <h3 class="dashboard-section-title  text-center text-left-md w-100">Estadísticas Generales <small>Protocolo IP</small></h3>
    </div>

</div>


<div class="p-2"
id="window"
    data-role="window"
    data-title="Información en tiempo real"
    data-resizable="true"
    data-draggable="true"
    data-shadow="true"
    data-icon="<span class='mif-info'></span>"
    data-close-action="Metro.actions.HIDE"
    data-width="390"
    data-height="560"
    data-top="10">
    <iframe id="inlineFrame"
    title="Inline Frame Example"
    width="350"
    height="560"
    src="">
</iframe>

</div>

<div class="d-flex flex-justify-center flex-wrap">

<button class="tool-button primary rounded m-1"
        onclick="$('#t1').data('table').loadData('/table.json')">
        <span class="mif-refresh"></span></button>

        <button class="tool-button secondary rounded m-1"
                onclick="$('#t1').data('table').export('CSV', 'all', 'GuardianBot.csv')">
                <span class="mif-download2"></span></button>

        <button onclick="onclickblocks()" class="image-button alert m-1">
                            <span class="mif-blocked icon"></span>
                            <span class="caption">Fuente</span>
                        </button>

                        <button onclick="onclickblockd()" class="image-button alert m-1">
                          <span class="mif-blocked icon"></span>
                            <span class="caption">Destino</span>
                        </button>
                        <button onclick="onclickinfo()" class="image-button info m-1">
                          <span class="mif-info icon"></span>
                          <span class="caption">Información</span>
                      </button>
                      <button class="image-button warning  m-1">
                          <span class="mif-bin icon"></span>
                          <span class="caption">Limpiar</span>
                      </button>
        <div class="my-search-wrapper m-1"></div>

        <input id="check" type="checkbox flex-justify-center m-1"
               data-role="switch"
               data-caption="Auto-Recargar"
               data-cls-switch="mySwitch"
               data-cls-caption="fg-cyan text-bold"
               data-cls-check="bd-cyan myCheck">
             </div>


<table id="t1" class="table compact table-border mt-5"
       data-role="table"
       data-rows="50"
       data-table-search-title="Buscar: "
       data-rows-steps="5, 10"
       data-show-activity="false"
       	data-show-rows-steps	="false"
       data-source="/table.json"
      data-check="true"
       data-check-style="2"
       data-check-type="radio"
       data-info-wrapper=".my-info-wrapper"
      data-pagination-prev-title="Página Anterior"
      data-pagination-next-title="Página Siguiente"
      data-table-info-title="Mostrando $2/<b>$3</b>"
      data-search-wrapper=".my-search-wrapper"
      data-pagination-wrapper=".my-pagination-wrapper"

      >
</table>
<script>
  function showClassError(){
        var notify = Metro.notify;
        notify.create("No has selecionado ningún elemento.", "Alert", {
            cls: "alert"
        });
    }

    function showClassOk(){
          var notify = Metro.notify;
          notify.create("Dirección bloqueada correctamente.", "Success", {
              cls: "success"
          });
      }

function loadIframe(iframeName, url) {
    var $iframe = $('#' + iframeName);
    if ( $iframe.length ) {
        $iframe.attr('src',url);
        return false;
    }
    return true;
}
function onclickblocks(){
  var tableshowip = $('#t1').data('table').getSelectedItems();
  if(tableshowip.length < 1){
      showClassError();
  } else {
    $.post( "/blockip", { ip: tableshowip[0][0], prefix: "32", time: "-1"} );
    showClassOk();
  }
}

function onclickblockd(){
  var tableshowip = $('#t1').data('table').getSelectedItems();
  if(tableshowip.length < 1){
      showClassError();
  } else {

    $.post( "/blockip", { ip: tableshowip[0][1], prefix: "32", time: "-1" } );
    showClassOk();
  }
}


function onclickinfo(){
  var tableshowip = $('#t1').data('table').getSelectedItems();
if(tableshowip.length < 1){
showClassError();
} else {
    loadIframe('inlineFrame','/getipinfo?sip='+tableshowip[0][0]+'&dip='+tableshowip[0][1])
    $('#window').data('window').show();

}
}

$( document ).ready(function() {
  $('#window').data('window').hide();


function pollDOM () {
    var checkbox = $('#check');
    if(checkbox.is(":checked")){
      $('#t1').data('table').loadData('/table.json');
    }

    setTimeout(pollDOM, 10000);
}
pollDOM();

});
  </script>




{% endblock %}
