{% extends "includes/header.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="row border-bottom bd-lightGray m-3">
    <div class="cell-md-4 d-flex flex-align-center">
        <h3 class="dashboard-section-title  text-center text-left-md w-100">Estadísticas Generales <small>IPV4</small></h3>
    </div>


</div>









<table class="table striped table-border mt-4"
       data-role="table"
       data-rows="5"
       data-rows-steps="5, 10"
       data-show-activity="false"
       data-source="https://metroui.org.ua/examples/table/table.json"
       data-rownum="true"
       data-check="true"
       data-check-style="2"
>
</table>

{% endblock %}
