<!DOCTYPE html>
<html lang="es">
  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/metro-all.min.css') }}">
    <script src="{{ url_for('static', filename='js/metro.min.js') }}"></script>
    <title>GuardianBot</title>
  </head>

  <style>
        .login-form {
            width: 350px;
            height: auto;
            top: 50%;
            margin-top: -160px;
        }
    </style>
</head>
<body class="h-vh-100 bg-brandColor2">

  {% if not error %}

<script>
  Metro.infobox.create("<p>Contraseña incorrecta</p>", "alert");
</script>

  {% endif %}
    <form  method="POST" class="login-form bg-white p-6 mx-auto border bd-default win-shadow"
          data-role="validator"
          data-clear-invalid="2000"
          data-on-error-form="invalidForm"
          data-on-validate-form="validateForm">
        <span class="mif-vpn-lock mif-4x place-right" style="margin-top: -10px;"></span>
        <h2 class="text-light">Zona restringida</h2>
        <hr class="thin mt-4 mb-4 bg-white">
        <div class="form-group">
            <input type="password" name="password" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Contraseña" data-validate="required minlength=6">
        </div>
        <div class="form-group mt-10 text-center">

            <button class="button">Entrar</button>

        </div>
    </form>

    <script src="../../metro/js/metro.js"></script>
    <script>
        function invalidForm(){
            var form  = $(this);
            form.addClass("ani-ring");
            setTimeout(function(){
                form.removeClass("ani-ring");
            }, 1000);
        }

        function validateForm(){
            $(".login-form").animate({
                opacity: 0
            });
        }
    </script>

</body>
</html>
